.game-ground {
 position: relative;
 margin: 10px auto 50px auto;
 width: 600px;
 height: 600px;
 border: 5px solid black;
 background-color: black;
}


.snake-character {
  position:absolute;
  width: 2%;
  height: 2%;
  background-color: #8ffcff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  z-index: 1;
}

.snake-score {
  position: relative;
  margin: 15px auto 0px auto;
  height: 30px;
  width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  border-bottom: 1px dashed black;
}

.start-button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 0px;
  color: #FFF905;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: 270px 0px 0px 130px;
  z-index: 4;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 250px 700px;
    border-radius: 12px;
  }